*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    left: 550px;
    height: 920px;
    width: 490px;
    border: 1px solid black;
    background-size: cover;
    background-color: rgb(79, 2, 2);

}
.add-icon{
    position: relative;
    color: white;
    left: 10px;
    top: 10px;
    margin: 10px;
}
.Box{
    background-image: url("Saturn.jpg");
    background-size: cover;
    height: 500px;

}
.Saturn{
    position: relative;
    top: 2px;
    left: 5px;
    height: 70px;
    width: 700px;
    color: white;
    /* border: 1px solid white; */
    font-size: 45px;
    margin: 30px;;
}
.vp{
    position: relative;
    font-size:25px ;
    margin: 45px;
    top: 2Spx;
    left: 5px;
    height: 70px;
    width: 350px;
}